<div [ngClass]="{'col-md-9': discussMode, 'col-md-12': !discussMode}" class="col-md-9">
	<div class="container-fluid">
		<div class="row form-horizontal">
			<div class="form-group col-md-3">
				<div class=" input-group">

					<input type="text" class="form-control" [(ngModel)]="newColumn">
					<span class="input-group-btn">
				<button class="btn btn-secondary" (click)="addColumn()">+</button>
			</span>
				</div>
			</div>
			<div class="form-group col-md-3  pull-right">
				<div *ngIf="!discussMode" class="input-group ">
					<button class="btn btn-primary" (click)="setDiscussMode()">Discuss</button>
				</div>
			</div>
		</div>
		<div [ngClass]="columnClass" *ngFor="let column of columns | async">
			<app-column [column]="column" [room]="room"></app-column>

		</div>
	</div>
</div>
<div *ngIf="discussMode" class="col-md-3 discuss-bar">
    <div class="container-fluid">
	<app-discuss></app-discuss>
    </div>
</div>