<div class="container">
	<form (ngSubmit)="onSubmit()" #roomForm="ngForm">
		<div class="form-group">
			<label for="room">Room</label>
			<input required name="room" type="text" class="form-control" [(ngModel)]="room" id="room" placeholder="Panic" #roomTemp="ngModel">
			<div [hidden]="roomTemp.valid || roomTemp.pristine" class="alert alert-danger">
				Room is required
			</div>
		</div>
		<button type="submit" class="btn btn-default" [disabled]="!roomForm.form.valid">Create/Join</button>
	</form>
</div>