
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active">{{title}}</a>
		</div>
		<div class="nav navbar-nav navbar-right">
			<p *ngIf="(af.auth | async)?.uid" class="navbar-text">Hello user id {{(af.auth | async)?.uid}} </p>
			<button *ngIf="(af.auth | async)?.uid" type="button" class="btn btn-default navbar-btn" (click)="logout()">Sign Out</button>
		</div>
	</div>
</nav>
<router-outlet></router-outlet>