<div> {{ (af.auth | async)?.uid }} </div>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active">{{title}}</a>
		</div>
		<div class="nav navbar-nav navbar-right">
			<button type="button" class="btn btn-default navbar-btn" (click)="login()">Sign In</button>
			<button type="button" class="btn btn-default navbar-btn" (click)="logout()">Sign Out</button>
		</div>
	</div>
</nav>
<router-outlet></router-outlet>