/* You can add global styles to this file, and also import other style files */

/*body { padding-top: 70px; } */

.form-control:focus{
    background-color: inherit  !important;
}

.form-control{
    background-color: inherit  !important;
}